@font-face {
	font-family: 'Px437_IBM_VGA8';
	src: local('Px437_IBM_VGA8'), url(./fonts/Px437_IBM_VGA8.ttf),
		format(truetype);
}

html,
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #333;
}
